.page{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head{
    position: absolute;
    top: 2rem;
    font-size: 3rem;
}

.loginHead{
    margin-bottom: 4rem;
    font-size: 2.8rem;
}

.loginForm{
    width: 30%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
}
.loginForm input{
    width: 100%;
    margin-bottom: 2rem;
    padding: 1.2rem;
    background: #ededed;
    outline: none;
    font-size: 2rem;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 6px;
}

.loginForm input::placeholder{
    color: rgb(161, 161, 161);
}

.loginForm .loginBtn{
    padding: 1rem;
    background: rgb(98, 107, 189);
    color: white;
    font-weight: 700;
    font-size: 1.8rem;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 3px rgb(75, 75, 252);
}

.loginForm .loginBtn:hover{
    box-shadow: 0 0 5px rgb(75, 75, 252);
    scale: 1.01;
}

.loginCap{
    margin: 2rem 0;
    font-size: 1.5rem;
    color: rgb(54, 54, 54);
    font-weight: 600;
    text-align: center;
}

.createAnAccountBtn{
    padding: 1rem;
    font-weight: 500;
    font-size: 1.8rem;
    border-radius: 6px;
    background: rgb(243, 243, 243);
    cursor: pointer;
    border: 0;
    box-shadow: 0 0 2px ;
}

.createAnAccountBtn:hover{
    box-shadow: 0 0 5px;
    scale: 1.01;
}