.dashboard{
    margin: 0 2rem;
    margin-top: 1rem;
    width: 100%;
    position: relative;
}

.dashboard > h1{
    font-size: 2.8rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid rgb(117, 117, 117);
}

.dashboardInfo{
    margin-top: 3rem;
}

.dashboardInfo >h3{
    font-size: 1.8rem;
    font-weight: 500;
}

.dashboardInfo >h3:not(:first-child){
    margin-top: 1rem;
}